/*----------------*/
/* General Layout */
/*----------------*/

html            {   width: 100%; height: 100%; margin: 0; overflow: hidden; }
body            {   margin: 0px auto; width: 100%;
                    font-family: Verdana, Arial, sans-serif; font-size: 0.95em;
                    background-color: #f0f4f6; }
a.flow          {   text-decoration: none; }
a.flow:hover    {   text-decoration: underline; }
ul              {   margin: 0px; text-decoration: none; list-style: none; }
ul.list         {   position: absolute; left: 1px; }


/*---------------------------------------------------*/
/* Header with ServiceMix Logo and ServiceMix Title  */
/*---------------------------------------------------*/

header          {   position: absolute; top: 0px; margin: 0; padding-right: .64em; width: 100%; height: 60px;
                    background-color: #bac9d6; background-image: url('/theme/main/images/bg_title_blue.png');
                    background-repeat: repeat-x; border-bottom: solid 1px #336699;
                    -moz-box-shadow: 1px 10px 5px #888; -webkit-box-shadow: 1px 10px 5px #888;
                    box-shadow: 1px 10px 5px #888; }
header .title   {   position: absolute; top: 6px; left: 54px; color: #ffffff; font-size: 2.2em; }
header .logo    {   position: absolute; top: 6px; left: 6px; }


/*---------------*/
/* Flows Section */
/*---------------*/

section.flows               {   position: absolute; left: 1%; top: 82px; width: 14%; height: 132px;
                                margin: 0; padding: 0; background-color: #f0f4f6;
                                -moz-border-radius: 3px; -webkit-border-radius: 3px; -khtml-border-radius: 3px;
                                border-radius: 3px; border: solid 1px #c6d2dd;
                                -moz-box-shadow: 1px 10px 5px #888; -webkit-box-shadow: 1px 10px 5px #888;
                                box-shadow: 5px 5px 5px #888;}

section.flows header        {   position: absolute; width: 100%; height: 32px; padding: 0;
                                border-bottom: solid 1px lightgrey; font-size: 1.2em;
                                background-image: url('/theme/main/images/bg_title_blue.png');
                                background-repeat: repeat-x; border-top-left-radius: 3px; border-top-right-radius: 3px;
                                border: solid 0px #336894; -moz-border-radius-topright: 3px;
                                -moz-border-radius-topleft: 3px; -moz-box-shadow: 0px 10px 0px;
                                -webkit-box-shadow: 0px 0px 0px; box-shadow: 0px 0px 0px; }

section.flows header img    {   position: absolute; top: 4px; left: 4px;  }


section.flows header h1     {   position: absolute; top: 4px; left: 28px;
                                margin: 0; padding: 0; font-size: .8em; font-weight: bold;
                                color: #336699; display: block; overflow: hidden; padding: 5px; }

section.flows div.flows     {   position: absolute; top: 43px; left: 4px; }


/*-------------------*/
/* Dashboard Section */
/*-------------------*/

section.dashboard           {   position: absolute; left: 16%; top: 82px; width: 82%; height: 75%;
                                margin: 0; margin-left: 3px; padding: 0; background-color: #f0f4f6;
                                -moz-border-radius: 3px; -webkit-border-radius: 3px; -khtml-border-radius: 3px;
                                border-radius: 3px; border: solid 1px #c6d2dd;
                                -moz-box-shadow: 1px 10px 5px #888; -webkit-box-shadow: 1px 10px 5px #888;
                                box-shadow: 5px 5px 5px #888; }

section.dashboard header    {   position: absolute; width: 100%; height: 32px; padding: 0;
                                border-bottom: solid 1px lightgrey; font-size: 1.2em;
                                background-image: url('/theme/main/images/bg_title_blue.png');
                                background-repeat: repeat-x; border-top-left-radius: 3px; border-top-right-radius: 3px;
                                border: solid 0px #336894; -moz-border-radius-topright: 3px;
                                -moz-border-radius-topleft: 3px; -moz-box-shadow: 0px 10px 0px;
                                -webkit-box-shadow: 0px 0px 0px; box-shadow: 0px 0px 0px; }

section.dashboard header img    {  position: absolute; top: 4px; left: 4px;  }
section.dashboard header h1     {   position: absolute; top: 4px; left: 28px;
                                    margin: 0; padding: 0; font-size: .8em; font-weight: bold;
                                    color: #336699; display: block; overflow: hidden; padding: 5px; }
section.dashboard div.flows     {   position: absolute; top: 43px; left: 4px; }

#breadCrumb                     {   position: absolute; float: left; display: block; top: 34px; left: 1px;
                                    height: 32px; width: 91%;  }
.crumbs                         {   display: block; }
.crumbs li                      {   display: inline; }
.crumbs li.first                {   padding-left: 8px; }

.crumbs li a, .crumbs li a:link, .crumbs li a:visited { color: #666; display: block; float: left; font-size: 12px;
                                                        margin-left: -13px; padding: 7px 17px 11px 25px;
                                                        position: relative; text-decoration: none; }

.crumbs li a                    {   background-image: url('/theme/main/images/bg-crumbs-blue.png');
                                    background-repeat: no-repeat; background-position: 100% 0;
                                    position: relative; }
.crumbs li a:hover              {   color: #333; background-position: 100% -48px; cursor: pointer; }
.crumbs li a:active             {   color: #333; background-position: 100% -96px; }
.crumbs li.first a span         {   height: 29px; width: 3px; border-left: 1px solid #d9d9d9;
                                    position: absolute; top: 0px; left: 0px; }

/* @group clearfix classes */
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }

section.dashboard navigation div.search             {   visible: false; position: absolute;
                                                        width: 45%; height: 22px; top: 4px; left: 55%; }
section.dashboard navigation div.search form.search {   position: absolute; width: 100%; }

section.dashboard div.resultset  { background-color: white; position: absolute;
                                   width: 100%; height: 75%; top: 84px; overflow-y: scroll; }

section.dashboard div.resultset article { border-bottom: solid 1px lightgrey; }




/* -------------------------------------------------------------------------------------------------------------------*/
/* 4) Footer                                                                                                          */
/*--------------------------------------------------------------------------------------------------------------------*/

footer {
  position: absolute;
  margin: 0;
  padding-right: .64em;
  width: 100%;
  height: 2%;
  top: 98%;
  background-color: #bac9d6;
  background-image: url('/theme/main/images/bg_title_blue_short.png');
  background-repeat: repeat-x;
  border-bottom: solid 1px #336699;

}

#footer_title {
  height: 28px;
  width: 100%;
}

footer .title {
  text-align: center;
  color: #336699;
}




