/* General Layout
----------------------------------------------------------------------------------------------------------------------*/
html         { width: 100%; height: 100%; margin: 0; overflow: hidden; }
body         { font-family: Verdana, Arial, sans-serif;
               margin: 0px auto; width: 100%; font-size: .8em; background-color: #bddcfb; }
a.flow       { text-decoration: none; }
a.flow:hover { text-decoration: underline; }
ul           { margin: 0px; text-decoration: none; list-style: none; }
ul.list      { position: absolute; left: 1px; }


/* Header with Servicemix Logo and Servicemix Title
----------------------------------------------------------------------------------------------------------------------*/
header        { position: absolute; top: 0px; margin: 0; padding-right: .64em; width: 100%; height: 92px;
                background-color: #ffffff; background-image: url('/theme/main/images/bg.png');
                background-repeat: repeat-x; border-bottom: solid 1px white; }
header .title { position: absolute; top: 0px; left: 73px; color: #ffffff; font-size: 2.2em; }
header .logo  { position: absolute; top: 6px; left: 15px; }
header .subtitle { position: absolute; top: 23px; left: 78%; width: 20%; height: 18px; }
header .subtitle h1 { font-size: 1.8em; color: #ffffff; }

/* Breadcrumb stuff
 ---------------------------------------------------------------------------------------------------------------------*/

.module:after    { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
/* float clearing for IE6 */
* html .module   { height: 1%; overflow: visible; }
/* float clearing for IE7 */
* + html .module { min-height: 1%; }

.breadCrumb                          { position: absolute; left: 1%; top: 1px; margin: 0; padding: 0;
                                       display: block; height: 21px; overflow: hidden; width: 91%; padding: 5px; }
.breadCrumb ul                       { margin: 0; padding: 0; height: 21px; display: block; }
.breadCrumb ul li                    { display: block; float: left; position: relative; height: 21px;
                                       overflow: hidden; line-height: 21px; margin: 0px 6px 0px 0;
                                       padding: 0px 10px 0px 0; font-size: .9167em;
                                       background: url(/theme/main/images/Chevron.gif) no-repeat 100% 0; }
.breadCrumb ul li div.chevronOverlay { position: absolute; right: 0; top: 0; z-index: 2; }
.breadCrumb ul li span               { display: block; overflow: hidden; }
.breadCrumb ul li a                  { display: block; position: relative; height: 21px;
                                       line-height: 21px; overflow: hidden; float: left; }
.breadCrumb ul li.first a            { height: 16px !important; text-indent:-1000em; width:16px; padding: 0;
                                       margin-top: 2px; overflow: hidden;
                                       background:url(/theme/main/images/IconHome.gif) no-repeat 0 0; }
.breadCrumb ul li.first a:hover      { background-position: 0 -16px; }
.breadCrumb ul li.last               { background: none; margin-right: 0; padding-right: 0; }

.chevronOverlay                      { display: none; background:
                                       url(/theme/main/images/ChevronOverlay.png) no-repeat 100% 0;
                                       width: 13px; height: 20px; }


/* The article
----------------------------------------------------------------------------------------------------------------------*/
article                   { position: absolute; left: 15px; top: 85px; width: 99%; height: 99%; }

article .main             { position: absolute; left: 0px; top: 37px; width: 75%; height: 82%;
                            margin: 0; padding: 0; background-color: white;
                            -moz-border-radius: 7px; -webkit-border-radius: 7px; -khtml-border-radius: 7px;
                            border-radius: 7px; border: solid 1px #959696; overflow: auto;  }

article .right             { position: absolute; left: 78%; top: 37px; width: 21%; height: 82%;
                            margin: 0; padding: 0; background-color: white;
                            -moz-border-radius: 7px; -webkit-border-radius: 7px; -khtml-border-radius: 7px;
                            border-radius: 7px; border: solid 1px #959696; }

article .title            { position: absolute; z-index: 2; border-bottom: solid 1px lightgrey; font-size: 1.2em; }
article .rounded-corners  { -moz-border-radius: 5px; -webkit-border-radius: 5px;
                            -khtml-border-radius: 5px; border-radius: 5px; }


article .menutitle_flows  { position: relative; top: 75px; left: 7%; width: 250px;
                            border-bottom: solid 1px lightgrey; font-size: 1.2em; }
article .menu_flows       { position: relative; top: 95px; left: 7%; width: 250px; }
article .menutitle_tags   { position: relative; top: 57px; left: 7%; width: 250px;
                            border-bottom: solid 1px lightgrey; font-size: 1.2em; }
article .menu_tags        { position: relative; top: 75px; left: 7%; width: 250px; }
article table.selected    { width: 280px; }
article table.remaining   { left: 175px; width: 100px; }

article a.selected        { text-decoration: none; color: green; }
article a.selected:hover  { text-decoration: underline; }
article a.remaining       { text-decoration: none; color: red; }
article a.remaining:hover { text-decoration: underline; }
article .view_title       { position: absolute; width: 100%; height: 37px;
                            border-bottom: solid 1px lightgrey; font-size: 1.2em;
                            background-image: url('/theme/main/images/bg_title.png'); background-repeat: repeat-x;
                            -moz-border-radius-topleft: 7px; border-top-left-radius: 7px;
                            -moz-border-radius-topright: 7px; border-top-right-radius: 7px;
                            border: solid 0px #336894; }
article .right_title       { position: absolute; width: 100%; height: 37px;
                            border-bottom: solid 1px lightgrey; font-size: 1.2em;
                            background-image: url('/theme/main/images/bg_title.png'); background-repeat: repeat-x;
                            -moz-border-radius-topleft: 7px; border-top-left-radius: 7px;
                            -moz-border-radius-topright: 7px; border-top-right-radius: 7px;
                            border: solid 0px #336894; }

article .cb_title         { position: absolute; left: 1%; top: 2px; margin: 0; padding: 0; font-size: .8em;
                            display: block; height: 21px; overflow: hidden; width: 91%; padding: 5px; }
article .view             { position: absolute; left: 1%; top:43px; width: 98%; heigth: 99%; }

article #datepicker { position: absolute; top: 210px; left: 7%; width: 250px; border-bottom: solid 1px lightgrey; font-size: 1.2em;  }

/* tables */
table.tablesorter         { width: 100%; border: 2px solid #336699; }


/* Search */
div.search      { position: absolute; top: 61px; left: 78%; width: 20%; height: 18px; }
div.search form input { position: absolute; left: 0px; width: 100%; height: 18px; border: 0px solid #000000;}

.tag button a { width: 45px; color: #000000; text-decoration: none; }

#accordion-body { font-size: 1.1em; height: 100%; width: 98%; }
#accordion-props { position: absolute; top: 57px; left: 7%; width: 90%; }


div.flow     { position: absolute; left: 9px; top: 7px; width: 91%; }
div.flow .h1 { height: 25px; background-color: #defffc; color: #336699; font-weight: bold;
               font-size: 1.8em; border-bottom: solid 1px blue; }

#flows        { text-decoration: none; witdh: 100%; height: 25px; border-bottom: solid 0px silver; }
#flows a      { color: #000000; text-decoration: none; font-weight: bold; }
#flows a.tag  { font-weight: lighter; font-size: 0.8em; }
#flows a.body { font-weight: lighter; font-size: 0.8em; color: #848484; }


/* Footer stuff
----------------------------------------------------------------------------------------------------------------------*/
footer        { position: absolute; margin: 0; padding-right: .64em; width: 100%;
                height: 4%; top: 98%; background-color: transparent; }
footer .title { height: 28px; width: 100%; text-align: center; color: #336699; }



